/*
* @Author: Administrator
* @Date:   2017-09-03 23:44:26
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-16 14:15:40
*/
@font-face {
  font-family: 'iconfont';  /* project id 404536 */
  src: url('http://at.alicdn.com/t/font_404536_026ftjbs71npzaor.eot');
  src: url('http://at.alicdn.com/t/font_404536_026ftjbs71npzaor.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_404536_026ftjbs71npzaor.woff') format('woff'),
  url('http://at.alicdn.com/t/font_404536_026ftjbs71npzaor.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_404536_026ftjbs71npzaor.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    /* text-align: center;
    line-height: 100%; */
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.fixed{
	width: 35px;   height: 100%;
	background-color: #000;
	position: fixed;
	right: 0;

}
#head{
	height: 32px;
	width: 100%;
	background-color: #f2f2f2;
}
.neik{
	height: 100%;
	width: 1230px;
	margin: 0 auto;
}
.neik-left{
	height: 100%;
	float: left;
}
.wenz{
	font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
	font-size: 12px;
	line-height: 32px;
	color: #999;
	float: left;
	margin-right: 20px;
}
.wenz1{
	margin-right: 0px;
}
/* 顶部导航右侧模块 */
.neik-right{
	height: 100%;
	float: right;
}
.iconfont1{
	color: #FF0036;
}
.wenz2{
	margin-right: 0px;
}
.search{
	width: 100%;
	height: 130px;
	background-color: #fff；
}
.neik-1{
	height: 130px;
}
.search-tup{
	height: 130px;
	width: 240px;
	float: left;
}
.search-mid{
	width: 625px;
	padding-top: 38px;
	margin: 0 auto;
}
.search-mid fieldset{
	border-width: 2px 0 2px 2px; 
	border-color: #ff0036; 
	width:623px; 
	height:36px;
}
.input1{
	border-width: 0;
	font-size: 14px;
	line-height: 34px;
	width: 483px;
	padding: 2px 3px 0 5px;
	float: left;
}
.input2{
	font-size: 16px;
	background-color: #ff0036;
	color: #fff;
	text-align: center;
	line-height: 36px;
	float: right;
	border-width: 0;
	width: 132px;
}
.search-wenz{
	height: 18px;
	padding-bottom: 4px;
}
.wenz3{
	font-size: 14px;
	margin-right: 12px;
	color: #999;
	float: left;
}
.wenz4{
	color: #ff0036;
}
#daohang{
	width: 100%;
	height: 36px;
	background-color: #ff0036;
}
.daoh-left{
	height: 100%;
	width: 200px;
	background-color: #e22127;
	float: left;
	margin-left: 15px;
}
.daoh-wenz{
	font-size: 16px;
	line-height: 36px;
	text-align: center;
}
.daoh-wenz i{
	float: left;
	color: #fff;
	margin-left: 14px; 
}
.wenz5{
	float: left;
	color: #fff;
	margin-left: 8px; 
}
.daoh-right{
	width: 90px;
	height: 36px;
	margin: 0 15px 0 15px;
	float: left;
}
.daoh-wenz1{
	font-size: 16px;
	line-height: 36px;
	color: #fff;
	margin: 0 15px 0 15px;
	float: left;
}
#banner{
	height: 500px;
	width: 100%;
}
.cel{
	width: 200px;
	height: 500px;
	background-color: #999;
	position: absolute;	
	left: 75px;
}
.cel-wenz{
	width: 200px;
	height: 31.19px;
	color: #fff;
	font-size: 14px;
	line-height: 31px;
}
.cel-wenz:hover{
	background-color: #fff;
	color: red;
}
.iconfont2{
	font-size: 14px;
	margin: 0 4px 0 14px;
}
.cel1{
	height: 26px;
	float: left;
	margin-top: -40px;
}
.lunh{
	width: 192px;
	height: 100%;
	margin: 0 auto;
}
.lunh-1{
	width: 18px;
    height: 18px;
    background: red;
    border-radius: 50px;
    border-radius: 50px;
    border-radius: 50px;
}


/* 内容开始 */
#content{
	width: 100%;
	background-color: #f2f2f2;
	font-size: 12px;
	overflow: hidden;
}
.pinp-1{
	width: 100%;
	height: 436px;
	margin-top: 60px;
}
.pinp{
	width: 1230px;
	height: 436px;
	/* padding-right: 30px; */
	margin: 0 auto;
}
.pinp-left{
	width: 488px;
	height: 436px;
	float: left;
	background-color: black;
	position: absolute;
}
.vedio-1{
	width: 100%;
	height: 275px;
	/* position: absolute; */
}
/* 视频定位 */
.zhibo{
	/* width: 50px; */
	height: 20px;
	padding: 0 9px 0 6px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 12px;
	color: #fff;
	line-height: 20px;
	text-align: center;
	position: absolute;
	right: 16px;
	top: 15px;
}
.zhibo2{
	width: 70px;
	height: 57px;
	position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -105px;
    margin-left: -28.5px;
    background-position: center;
}
.zhibo3{
	position: absolute;
    width: 100%;
    text-align: center;
    top: 190px;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
}
.zhibo4{
	top: 230px;
	font-size: 18px;
	line-height: 18px;
}
.vedio-2{
	width: 100%;
	height: 90px;
	margin-top: 9px;
	position: relative;
}
.zhibo5{
	width: 160px;
	height: 100%;
	margin-right: 2px;
	float: left;
}
.zhibo6{
	font-size: 12px;
	line-height: 90px;
	text-align: center;
	width: 17px;
	height: 90px;
	position: absolute;
	right: 0;
	background-color: #333;
}
.vedio-3{
	width: 390px;
	height: 40px;
	margin: 8px 0 0 21px;
	background-color: #000;
}
.zhibo7{
	width: 81px;
	height: 31px;
	margin: 4px 9px 0 0;
	float: left;
}
.zhibo8{
	width: 300px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
}
.zhibo8-r{
	color: red;
}
.pinp-right{
	width: 732px;
	height: 100%;
	float: right;
	margin-right: 1px;
}
.pinp-tu{
	width: 121px;
	height: 48px;
	margin: 0 1px 1px 0;
	/* background-color: red; */
	float: left;
	padding: 30px 0;
}
.pinp-tu:hover{
	background-color: red;
}
.pinp-tu img{

	margin: 0 auto;
	width: 100%; height: 40px;
}

/* 品牌列表 */
.pinp-lieb{
	width: 1230px;
	height: 577px;
	margin: 30px auto 0;
	/* background-color: #fff; */
}
.pinp-lieb-1{
	width: 238px;
	height: 478px;
	margin: 0 10px 1px 0;
	float: left;
}
.pinp-lieb-3{
	width: 238px;
	height: 220px;
	background-color: #fff;
	overflow: hidden;
}
.pinp-lieb-2{
	width: 238px;
	height: 36px;
	background-color: #ff0036;
	text-align: center;
	line-height: 36px;
	font-size: 18px;
	color: #fff;
	margin-top: 19px;
}

.plwenz{
	font-size: 22px;
	line-height: 22px;
	color: #000;
	background-color: #fff;
}
.pinp-lieb-4{
	width: 238px;
	height: 14px;
	margin-top: 5px;
}
.plwenz1{
	font-size: 14px;
	margin-top: 5px;
	line-height: 14px;
	color: #888;
	background-color: #fff;
}
.pinp-lieb-5{
	width: 140px;
	height: 140px;
	margin: 0 auto;
}
.pinp-lieb-6{
	width: 200px;
	height: 1px;
	margin: 0 auto;
	background-color: #999;
}
.pinp-lieb-1-r{
	margin-right: 0px;
}
.pinp-bottom{
	width: 100%;
	height: 90px;
	margin-top: 30px;
	float: left;
}

/* 美丽人生开始 */
.meil{
	width: 1230px;
	height: 470px;
	margin: 0 auto;
	margin-top: 30px;
}
.meil-top{
	width: 100%;
	height: 20px;
}
.meil-left{
	float: left;
	height: 20px;
}

.meil-l-wenz1{
	height: 20px;
	width: 5px;
	float: left;
}
.iconfont3{
	font-size: 12px;
	line-height: 12px;
	color: #EA5F8D;
}
.meil-l-wenz2{
	/* width: 72px; */
	height: 18px;
	margin-left: 10px;
	font-size: 18px;
	line-height: 18px;
	float: left;

}
.meil-l-wenz3{
	height: 18px;
	margin-left: 10px;
	font-size: 16px;
	line-height: 18px;
	float: left;
}
.meil-right{
	height: 20px;
	float: right;
}
.meil-r-wenz{
	height: 20px;
	margin: 5px 10px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	float: left;
}

/* bottom */
.meil-t{
	width: 100%;
	height: 470px;
	margin-top: 10px;
}
.meil-t-left{
	width: 246px;
	height: 440px;
	float: left;
}
.meil-t-left1{
	width: 246px;
	height: 330px;
	position: relative;
}
.meil-t-left1-t{
    height: 30px;
    width: 100%;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.6);
}
.meil-t-left2{
	height: 110px;
	font-size: 12px;
	background-color: #EA5F8D;
	overflow: hidden;
}
.meil-t-left2-t{
	width: 100%;
	height: 33px;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-size: 22px;
    color: #fff;
}
.meil-t-left3{
	width: 100%;
	height: 27px;
	font-size: 18px;
	text-align: center;
	line-height: 18px;
	color: #fff;
	font-weight: 700;
}
.meil-t-left4{
	height: 30px;
	width: 100%;
}
/* center */
.meil-t-center{
	width: 735px;
	height: 440px;
	float: left;
	
}
.meil-t-center-1{
	width: 244px;
	height: 220px;
	margin: 0 1px 1px 0;
	background-color: #fff;
	position: relative;
	overflow: hidden;
	float: left;
}
.meil-t-center-1w{
	
	height: 24px;
	font-size: 18px;
	line-height: 24px;
	margin: 25px 0 0 25px;
}
.meil-t-center-2w{
	
	height: 18px;
	font-size: 14px;
	line-height: 18px;
	color: #EA5F8D;
	margin-left: 25px;
}
.meil-t-center-1t{
	width: 154px;
	height: 154px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.meil-t-right{
	width: 248px;
	height: 440px;
	float: left;
	
}
.meil-t-right-1{
	width: 248px;
	height: 146px;
	padding: 0 1px 1px 0;
	background-color: #fff;
	position: relative;
	overflow: hidden;
}
.meil-t-right-t1{
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.meil-t-right-w1{
	height: 24px;
	margin: 25px 0 5px 25px;
	font-size: 18px;
	line-height: 24px;
}
.meil-t-right-w2{
	height: 18px;
	margin-left: 25px;
	font-size: 14px;
	line-height: 18px;
	color: #EA5F8D;
}
.bottom-1-end{
	width: 80px;
	height: 45px;
	margin: 0 auto;
	margin-top: 15px
}
.end{
	width: 100%;
	height: 563px;
}
.end-1{
	width: 1190px;
	height: 100px;
	margin: 25px auto;
}
.end-1-left{
	width: 297px;
	height: 100px;
	float: left;
}
.end-2{
	width: 1190px;
	height: 190px;
	border-top: 1px solid #ededed;
	padding: 22px;
	margin: 0 auto;
	background-image: url('../img/end-2.png');
	background-repeat: no-repeat;
	background-size: 68px 25px;
	background-position: 66px bottom;
}
.end-2-left{
	width: 186px;
	height: 90px;
	margin-left: 52px;
	float: left;
}
.end-2-left-wenz1{
	color: #646464;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    /* text-align: left; */
}
.end-2-left a{
	color: #8b8b8b;
	display: block;
	font-size: 14px;
	line-height: 20px;
}
.end-2-left-erweima{
	width: 105px;
	height: 105px;
}
.end-3{
	width: 100%;	height: 180px;
	background-color: #000;
	border-top: 2px solid #FF0036;
}
.end-3-wenz1{
	width: 1190px;	height: 25px;	
	padding: 5px 0;
	margin: 0 auto;
}
.end-3-wenz1 a{
	margin-right: 3px;
	font-size: 12px;
	line-height: 25px;
	color: #fff;
	float: left;
}
.end-3-wenz1-1{
	float: left;
	margin-right: 3px;
	color: #fff;
	font-size: 14px;
	line-height: 25px;
}
.end-3-t{
	width: 1190px; height: 110px;
	margin: 0 auto;
	font-size: 12px;
	color: #a4a4a4;
	line-height: 12px;
}
.end-3-t a{
	font-size: 12px;
	line-height: 20px;
	margin-right: 65px;
	color: #a4a4a4;
}
.end-3-t-2{
	height: 30px;
	padding: 10px 0 5px;
}
.end-3-t-2 a{
	display: block;
	width: 80px; height: 30px;
	margin-right: 10px;
	float: left;
}

.last{
	width: 100%; height: 19px;
	background-color: #000;
	background-clip: content-box;  /* 设置背景图片显示区域 */
	background-clip: padding-box;
	background-clip: border-box;
	background-origin: /* 设置背景图片的显示起始位置 */
}
